.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    letter-spacing: 4px;
}

.navbar-item {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    /* Optional: Add padding for better click area */
    display: block;
    /* Ensure the link fills the padding area */
}

.navbar-item:hover {
    background-color: #cccccc;
    /* Add hover color */
}

.navbar-links {
    display: flex;
    gap: 16px;
}

/* Responsive styles */
@media (max-width: 600px) {
    .navbar-links {
        display: none;
        /* Hide links on small screens */
    }
}

body {
    margin: 0;
}

/* slider image */


.responsive-image {
    max-width: 100%;
    height: auto;
    border: none;
    /* Remove border style */
    vertical-align: middle;
    /* Align the image vertically */
}

.textonimage {
    margin-top: 16px !important;
    text-align: center !important;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.styletextonimage {
    color: #fff !important;
    font-size: 36px !important;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    text-align: center !important;
    letter-spacing: 4px;
    line-height: 1.5;
}

.BR {
    color: #fff !important;
    background-color: #000 !important;
    padding: 10px 20px !important;
    opacity: 0.75;
    font-size: 36px !important;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    text-align: center !important;
    letter-spacing: 4px;
    line-height: 1.5;
}

.Architects {
    color: #fff !important;
    font-size: 36px !important;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    text-align: center !important;
    letter-spacing: 4px;
    line-height: 1.5;
}


@media (max-width: 600px) {
    .BR {
        font-size: 34px !important;
        padding: 8px 16px !important;
    }

    .textonimage {
        margin-top: 16px !important;
        text-align: center !important;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .textonimage {
        top: 40%;
        /* for screens <= 600px */
    }

    .Architects {
        display: none;
        /* Hide the Architects class */
    }
}

@media only screen and (min-width: 500px) and (max-width: 550px) {

    .textonimage {
        top: 30%;
        /* for screens <= 600px */
    }


}

@media only screen and (min-width: 500px) and (max-width: 550px) {

    .textonimage {
        top: 30%;
        /* for screens <= 600px */
    }


}

@media only screen and (min-width: 400px) and (max-width: 450px) {

    .textonimage {
        top: 30%;
        /* for screens <= 600px */
    }


}

@media only screen and (min-width: 350px) and (max-width: 400px) {

    .textonimage {
        top: 25%;
        /* for screens <= 600px */
    }


}

@media only screen and (min-width: 320px) and (max-width: 350px) {

    .textonimage {
        top: 22%;
        /* for screens <= 600px */
    }


}

.Projects {
    
    font-size: 24px;
    border-color: #f1f1f1 !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    
    line-height: 1.5;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    border-bottom: 1px solid #ccc !important;
    margin-left: 1em;
    margin-right: 1em;
    
    

     margin-left: 30px;
   
     margin-top: 50px;
     margin-bottom: 42px;

     

}

.projectsimags {
    
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
}

.projectsimags-col {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 8px;
    margin-bottom: 16px !important;
    box-sizing: border-box;
}

@media (max-width: 993px) {
    .projectsimags-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 600px) {
    .projectsimags-col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.projectsimags-col-caintainer
{
    position: relative;
   
}
.projectsimags-col-content
{
    position: absolute;
    left: 0;
    top: 0;
    color: #fff !important;
    background-color: #000 !important;
    padding: 8px 16px !important;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.About
{
    font-size: 24px;
    border-color: #f1f1f1 !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    
    line-height: 1.5;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc !important;
    margin-left: 1em;
    margin-right: 1em;
}

.Aboutp
{
    margin-left: 1em;
    margin-right: 1em;
 padding-left: 16px;
 padding-right: 16px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    
}
.fourcard
{
    
   margin-top:47px;
    filter: grayscale(75%);
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    content: "";
    display: table;
    clear: both;
    margin-left: 24px;
}

.fourcard-col
{
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 16px !important;
    float: left;
    width: 23.3%;

}
@media (max-width: 993px) {
    .fourcard-col {
        width: 47%;
      
    }
}

@media (max-width: 601px) {
    .fourcard-col {
        width: 90%;
       
    }
}


.fourcard-col h3{

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
    line-height: 1.5;

    
}
.fourcard-col-p1{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.60;  
}
.fourcard-col-p1{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    
}
.fourcard-col-btn
{
    color: #000 !important;
    background-color: #f1f1f1 !important;
    display: block;
    width: 100%;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
 
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    text-transform: none;
    overflow: visible;  
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.Contact
{
    border-color: #f1f1f1 !important;
    padding-top: 46px !important;
    padding-bottom: 16px !important;
    border-bottom: 1px solid #ccc !important;   
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
    margin-left: 32px;
    margin-right: 1em;
}
.Name
{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;

    box-sizing: border-box;
    margin-left: 2.4em;
    margin-right: 2.4em;
}

.Email
{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 2.4em;
    margin-right: 2.4em;
    box-sizing: border-box;
}
.Subject
{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 2.4em;
    margin-right: 2.4em;
    box-sizing: border-box;
}
.Comment
{
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    margin-left: 2.4em;
    margin-right: 2.4em;
    box-sizing: border-box;
}
.Send
{
 
    padding: 11px 32px;
    vertical-align: middle;
    margin-left: 2.1em;
    text-align: center;
    cursor: pointer;

    color: #fff !important;
    background-color: #000 !important;
  
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 24px;
    margin-bottom: 48px;
   
    
   
}
.Contactp
{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 32px;
    
}
.imagecontainer{
    padding: 4px 32px;
    content: "";
    display: table;
    clear: both; 
}
.imagecontainertag{

    max-width: 100%;
    height: auto;
    vertical-align: middle;
    

}
.bottomfooter{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    text-align: center;
    background: #000;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    display: block;
}


